version: '3.8'

services:
  mqtt:
    image: eclipse-mosquitto:latest
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    ports:
      - "1883:1883"
      - "9001:9001"

  central_api:
    build:
      context: ../../central_api
      dockerfile: Dockerfile
    depends_on:
      - mqtt
    ports:
      - "8000:8000"
    volumes:
      - ../../config.yaml:/app/config.yaml

  gateway:
    build:
      context: ../../gateway/orchestrator
      dockerfile: Dockerfile
    depends_on:
      - mqtt
    ports:
      - "3000:3000"

  edge-controller:
    build:
      context: ../../edge-controllers/pi-template
      dockerfile: Dockerfile
    depends_on:
      - mqtt
    environment:
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
    restart: always